<header>
      <h1>{{upperTextify pageTitle}}</h1>
      <!-- Note usage above of helper function that takes one argument -->
      <p><a href="/">Home</a></p>
      <p><a href="/about">About</a></p>
</header>
